@charset "utf-8";

body {
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica, Arial,sans-serif;
	margin: 20px;
}

h1{
	font-size: 24px;
	font-weight: 450;
	color: #5c799f;
}

h2{
	font-size: 24px;
	font-weight: 250;
	color: #5c799f;
}